<% content_for :title do %>MQTT<% end %>
<div class="gridster">
  <ul>
    <!-- Meter -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="living-room-temp-battery" data-view="Meter" data-title="Living Room Temperature Battery" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hallway-doorbell-battery" data-view="Meter" data-title="Hallway Doorbell Battery" data-min="0" data-max="100"></div>
    </li>
    <!-- Number -->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="living-room-temp-degrees" data-view="Number" data-title="Living Room °C"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bed-room-temp-degrees" data-view="Number" data-title="Bed Room °C"></div>
    </li>
  </ul>

</div>
